# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [7]:
import pandas as pd
import numpy as np

# Seu código aqui

dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
ano_termica = pd.Series(dados)

#### 2) Coloque os anos nos índices conforme a tabela.

In [9]:

# seu código aqui
anos = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
ano_termica = pd.Series(dados, anos)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [13]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_temperaturas = pd.Series(dic_temperaturas)

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [15]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

data_frame = pd.DataFrame(arr)
data_frame

             0           1           2
0   117.263266  116.837238   94.049484
1    86.872081   99.135667  103.830670
2   101.669431  112.236288   85.180075
3    93.792602  108.111582   76.629925
4   106.387556   93.176526   96.197684
5    96.709393   90.108964   87.700736
6    99.051917   97.656780  100.446426
7   103.496407   85.343352  114.965462
8    99.118872  109.127442   79.881447
9   108.884293   82.347947  104.292273
10   98.553566  114.828437  103.463729
11   97.733609  107.068000  112.058280
12  102.094434  113.213109   95.770884
13   93.509946  101.791458   91.684233
14  103.600919  101.198847   89.580387
15  102.821468   94.010481   92.622081
16   80.906428  114.931110   99.609137
17  100.124667   84.215125   86.534261
18   90.361064   89.720897  104.995797
19   89.339658   93.983318  101.732936

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [38]:
#seu código aqui
data_frame.columns = ['x1', 'x2', 'x3']
data_frame.index = np.arange(1, 21)
data_frame

            x1          x2          x3
1   117.263266  116.837238   94.049484
2    86.872081   99.135667  103.830670
3   101.669431  112.236288   85.180075
4    93.792602  108.111582   76.629925
5   106.387556   93.176526   96.197684
6    96.709393   90.108964   87.700736
7    99.051917   97.656780  100.446426
8   103.496407   85.343352  114.965462
9    99.118872  109.127442   79.881447
10  108.884293   82.347947  104.292273
11   98.553566  114.828437  103.463729
12   97.733609  107.068000  112.058280
13  102.094434  113.213109   95.770884
14   93.509946  101.791458   91.684233
15  103.600919  101.198847   89.580387
16  102.821468   94.010481   92.622081
17   80.906428  114.931110   99.609137
18  100.124667   84.215125   86.534261
19   90.361064   89.720897  104.995797
20   89.339658   93.983318  101.732936

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [40]:
# seu código aqui
data_frame['media'] = (data_frame['x1'] + data_frame['x2'] + data_frame['x3'])/3
data_frame

            x1          x2          x3       media
1   117.263266  116.837238   94.049484  109.383329
2    86.872081   99.135667  103.830670   96.612806
3   101.669431  112.236288   85.180075   99.695265
4    93.792602  108.111582   76.629925   92.844703
5   106.387556   93.176526   96.197684   98.587255
6    96.709393   90.108964   87.700736   91.506364
7    99.051917   97.656780  100.446426   99.051708
8   103.496407   85.343352  114.965462  101.268407
9    99.118872  109.127442   79.881447   96.042587
10  108.884293   82.347947  104.292273   98.508171
11   98.553566  114.828437  103.463729  105.615244
12   97.733609  107.068000  112.058280  105.619963
13  102.094434  113.213109   95.770884  103.692809
14   93.509946  101.791458   91.684233   95.661879
15  103.600919  101.198847   89.580387   98.126718
16  102.821468   94.010481   92.622081   96.484677
17   80.906428  114.931110   99.609137   98.482225
18  100.124667   84.215125   86.534261   90.291351
19   90.361064   89.720897  104.995797   95.025919
20   89.339658   93.983318  101.732936   95.018637

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [42]:
# seu código aqui
data_frame['log_med'] = np.log(data_frame['media'])
data_frame

            x1          x2          x3       media   log_med
1   117.263266  116.837238   94.049484  109.383329  4.694858
2    86.872081   99.135667  103.830670   96.612806  4.570711
3   101.669431  112.236288   85.180075   99.695265  4.602118
4    93.792602  108.111582   76.629925   92.844703  4.530928
5   106.387556   93.176526   96.197684   98.587255  4.590942
6    96.709393   90.108964   87.700736   91.506364  4.516409
7    99.051917   97.656780  100.446426   99.051708  4.595642
8   103.496407   85.343352  114.965462  101.268407  4.617774
9    99.118872  109.127442   79.881447   96.042587  4.564792
10  108.884293   82.347947  104.292273   98.508171  4.590139
11   98.553566  114.828437  103.463729  105.615244  4.659803
12   97.733609  107.068000  112.058280  105.619963  4.659847
13  102.094434  113.213109   95.770884  103.692809  4.641433
14   93.509946  101.791458   91.684233   95.661879  4.560820
15  103.600919  101.198847   89.580387   98.126718  4.586260
16  102.821468   94.010481   92.622081   96.484677  4.569384
17   80.906428  114.931110   99.609137   98.482225  4.589876
18  100.124667   84.215125   86.534261   90.291351  4.503042
19   90.361064   89.720897  104.995797   95.025919  4.554150
20   89.339658   93.983318  101.732936   95.018637  4.554073